/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: "Josefin Sans", sans-serif;

  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
:root{
  /* Primary */
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  
  /* Neutral */
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  
  /* Gradients */
  --Linear-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Linear-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
.attribution { 
  font-size: 14px; 
  text-align: center;
  background: #4e4e4e;
  color: #fff;
  padding: 24px;
}
.attribution a { 
  color: hsl(228, 45%, 60%); 
}
p{
    font-size: 16px;
}
.phar{
  font-size: 16px;
  font-weight: 400;
  color: var(--Desaturated-Red);
  margin-bottom: 40px;
}
.header{
  font-size: 90px;
  font-weight: 400;
  line-height: 90px;
  text-transform: uppercase;
  margin-top: 2vw;
  margin-bottom: 18px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.color{
  font-weight: 300;
  color: var(--Desaturated-Red);
}
.main{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.9fr 1fr;
}
.left{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  /* padding: 40px 10vw; */
}
.right{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url(images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.logo{
  padding: 40px 0 0 10vw;
}
.left-body{
  min-height: calc(100vh -73px);
  display: flex;
  flex-direction: column;
  padding: 0 20vw 0 10vw;
  justify-content: center;
}
.form{
  position: relative;
  padding-bottom: 32px;
}
.input-cont{
  position: relative;
}
.input{
  width: 100%;
  padding: 10px 24px;
  border: 1px solid var(--Desaturated-Red);
  border-radius: 40px;
}
.input::placeholder{
  color: var(--Desaturated-Red);
}
.btn{
position: absolute;
top: 0;
right: 0;
height: 100%;
background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
border: none;
outline-color: transparent;
padding: 0 40px;
border-radius: 50px;
box-shadow: 0 5px 10px 5px hsla(0, 74%, 74%, .4);
}
.form-error .input{
  border: 2px solid var(--Soft-Red);
  color: black;
}
.form-error .btn{
  background: linear-gradient(135deg, hsl(0, 80%, 96%), hsl(0, 74%, 84%));
}
.error{
  margin-top: 8px;
  margin-left: 24px;
  color: var(--Desaturated-Red);
  display: none;
}
.error-img{
  position: absolute;
  top: 10px;
  right: 110px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (width < 1200px)  {
  .left-body{
    padding: 0 5vw 0 10vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (width < 992px) {}

/* Medium devices (tablets, 768px and up) */
@media (width < 768px) {
  .main{
    grid-template-columns: 1fr;
  }
  .logo{
    grid-row: 1 / 2;
    padding: 32px;
  }
  .right{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 80vw;
    width: 100%;
    background-image: url(images/hero-mobile.jpg);
  }
  .left{
    grid-row: 3 / 4;
  }
  .header{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .left-body{
    padding: 40px 24px;
  }
  .phar{
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (width < 576px) {}